/* Reset van standaardlayout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout van de website */
body {
    padding-top: 80px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    background: linear-gradient(to bottom,rgb(150, 91, 161) 0%, rgb(119, 73, 127) 25%,rgb(104, 63, 101) 50%, rgb(77, 46, 82) 75%);
    height: 1500px
}
header {
    width: 100%;
}


/* Layout van de navigatie bar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to top, rgb(226, 224, 224), white);
    display: flex;
    align-items: center;
    gap: 100px;
    height: 80px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    z-index: 1000;
}
nav a {
    color:black;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}
nav a:hover{
    color:gray;
}
.navbar img{
    width: 72px;
}






ul {
    display: flex;
    list-style: none;
    gap: 100px;
    margin: 0;
    padding: 0;
}

/* Stijl van afbeeldingen*/
.afbeelding {
  width: 300px;
  height: auto;
}
.afbeeldingnav {
  width: 50px;
  height: auto;
  display: block;
  margin-left: 70px;
  margin-right: 0px;
}